<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.mercadopago.com/v2/security.js" view=""></script>
  <title>Confirmar compra</title>
</head>
<body>
  <h3 style="text-align: center;"><a href="{{preferenceCreated.body.init_point}}">Pagar la compra</a></h3>
</body>
</html>