<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.mercadopago.com/v2/security.js" view=""></script>
  <title>Operacion fallida.</title>
</head>
<body>

<h1>El pago fue rechazado o no finalizo correctamente.</h1>

</body>
</html>