<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.mercadopago.com/v2/security.js" view=""></script>
  <title>Operacion correcta.</title>
</head>
<body>
  
<P>Tipo de pago: {{payment_type}}</P>
<P>Referencia externa: {{external_reference}}</P>
<P>Collection id: {{collection_id}}</P>

</body>
</html>